<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <!--<system.diagnostics>
        <switches>
            <add name="AppTraceSwitch" value="Off"/>
            <add name="FaceTrackTraceSwitch" value="Info"/>
        </switches>
    </system.diagnostics>
    <appSettings>
        <add key="FrameTickDelta" value="50" />
        <add key="TraceLogFile" value="TraceLog.txt"/>
    </appSettings>-->
</configuration>
